{% extends 'base.html' %}
{% load tailwind_filters %}

{% block title %}Change your password{% endblock title %}

{% block content %}
    <h1 class="text-5xl text-lime-700 hover:text-lime-900">
        Change your password
    </h1>
    <p>Use the form below to change your password.</p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" value="Change" class="inline rounded-full my-2 px-3 py-3 text-white bg-emerald-700 hover:bg-emerald-900">Change</button>
    </form>
{% endblock content %}